@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

    <div class="main">
        <div class="main-header">
            <div class="nav-button but-hol">
                <span class="nos"></span>
                <span class="ncs"></span>
                     <span class="nbs"></span><div class="menu-button-text">Menu</div>

            </div>
                <div class="header-social">
                    <ul>
                        <li>@Html.ActionLink("Dorm", "Index", "Dorm")</li>
                        <li>@Html.ActionLink("Rooms", "Index", "Room")</li>
                    </ul>
                </div>

            <div class="folio-btn">
                <a class="folio-btn-item ajax" href="" target="_blank"><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span><span class="folio-btn-dot"></span></a>
            </div>
        </div>

        <div id="wrapper">
            <div class="content-holder">
                <div class="hero-wrap fl-wrap full-height scroll-con-sec">

                    <div class="impulse-wrap">
                        <div class="mm-par-wrap">
                            <div class="mm-parallax" data-tilt data-tilt-max="4">
                                <div class="overlay"></div>
                                <div class="bg" data-bg="https://images.unsplash.com/photo-1499018658500-b21c72d7172b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS9Hwot1dnhPwVRKMutchj1Lyg-4g_KbVfbg&usqp=CAU); ">

                                </div>

                                <div class="hero-wrap-item fl-wrap">
                                    <div class="container">
                                        <div class="fl-wrap section-entry hiddec-anim" style="opacity: 1; ">
                                            <h1 class="BoardName">Welcome</h1>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="hero-corner hiddec-anim" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></div>

                    <div class="hero-corner2 hiddec-anim" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></div>

                    <div class="hero-corner3 hiddec-anim" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></div>

                    <div class="hero-corner4 hiddec-anim" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"></div>


                </div>
            </div>
        </div>

    </div>
    <canvas></canvas>
</div>


