@model ManageAccommodation.Models.RoomModel

@{
    ViewData["Title"] = "CreateRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new Room</h1>

<h4>Form:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Room Status
                @Html.DropDownList("Status", new SelectList(@ViewBag.Status, "Value", "Text"), "Select Status", new {@class = "form-control"})
                @*<input asp-for="Status" class="form-control" />*@
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupiedNo" class="control-label"></label>
                <input asp-for="OccupiedNo" class="form-control" />
                <span asp-validation-for="OccupiedNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacanciesNo" class="control-label"></label>
                <input asp-for="VacanciesNo" class="form-control" />
                <span asp-validation-for="VacanciesNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                Select Dorm
                @Html.DropDownList("Iddorm", new SelectList(@ViewBag.DormList, "Value", "Text"), "Select Dorm", new {@class = "form-control"})
                <span asp-validation-for="Iddorm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerSt" class="control-label"></label>
                <input asp-for="PricePerSt" class="form-control" />
                <span asp-validation-for="PricePerSt" class="text-danger"></span>
            </div>
            <br />
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Rooms Overview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
